<% if logged_in? %>
      <%= render 'tasks/tasks', tasks: @tasks %>
<% else %>
    <h1>Welcome to the Tasklist!</h1>
      <%= link_to 'Sign up now!', signup_path %>
<% end %>

<%= link_to '新規タスクの登録', new_task_path %>
<%= link_to 'Logout', logout_path, method: :delete %>
